@font-face {
  font-family: 'OpenAISans-Medium';
  src: url('./OpenAISans-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenAISans-Regular';
  src: url('./OpenAISans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenAISans-Semibold';
  src: url('./OpenAISans-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}